# name: Integration Test with Service Container

# on: [push]

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     services:
#       app:
#         image: ghcr.io/${{ github.repository_owner }}/weather-app:latest
#         ports:
#           - 3000:3000
#         options: --health-cmd="curl http://localhost:3000 || exit 1" --health-interval=10s --health-timeout=5s --health-retries=5

#     steps:
#       - name: Wait for service to be ready
#         run: sleep 20

#       - name: Test service response
#         run: curl http://localhost:3000
